README.md
.py39
.venv
.env
.vscode
data/images
sus/models
sus/.logs
sus/logs
info
legacy_code
.expo

# App
app/node_modules/
app/.expo/
app/dist/
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/

# macOS
app/.DS_Store
